/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* background ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ background */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.bg-P{
  background: #006ebf;
}
.bg-S{
  background: #fff200;
}
.bg-A {
  background: #d5d2c5;
}
.bg-A2 {
  background: #703158;
}
.bg-A3 {
  background: #b64e00;
}
.bg-A4 {
  background: #eae9e2;
}
.bg-A5 {
  background: #008d84;
}
.bg-A6 {
  background: #002c4c;
}
.bg-B {
  background: #333333;
}
.bg-W {
  background: #ffffff;
}
.bg-G {
  background: #dddddd;
}
.bg-N {
  background: none;
}
.bg-Lt {
  background: rgba(255, 255, 255, 0.25);
}
.bg-Ltr {
  background: rgba(255, 255, 255, 0.5);
}
.bg-Ltst {
  background: rgba(255, 255, 255, 0.75);
}
.bg-Dk {
  background: rgba(0, 0, 0, 0.25);
}
.bg-Dkr {
  background: rgba(0, 0, 0, 0.5);
}
.bg-Dkst {
  background: rgba(0, 0, 0, 0.75);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* border ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ border */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.bw-Sm {
  border-width: 1px;
}
.bw-Md {
  border-width: 2px;
}
.bw-Lg {
  border-width: 3px;
}
.bw-0,
.bw-N {
  border-width: 0;
}
.btw-Sm{
  border-top-width: 1px;
}
.btw-Md {
  border-top-width: 2px;
}
.btw-Lg {
  border-top-width: 3px;
}
.btw-0,
.btw-N{
  border-top-width: 0;
}
.brw-Sm {
  border-right-width: 1px;
}
.brw-Md {
  border-right-width: 2px;
}
.brw-Lg {
  border-right-width: 3px;
}
.brw-0,
.brw-N,
.interior-nav .level-0 > li a {
  border-right-width: 0;
}
.bbw-Sm{
  border-bottom-width: 1px;
}
.bbw-Md {
  border-bottom-width: 2px;
}
.bbw-Lg {
  border-bottom-width: 3px;
}
.bbw-0,
.bbw-N{
  border-bottom-width: 0;
}
.blw-Sm {
  border-left-width: 1px;
}
.blw-Md {
  border-left-width: 2px;
}
.blw-Lg {
  border-left-width: 3px;
}
.blw-0,
.blw-N {
  border-left-width: 0;
}
.bs-S {
  border-style: solid;
}
.bs-D {
  border-style: dashed;
}
.bc-P {
  border-color: #006ebf;
}
.bc-Plt {
  border-color: #008bf2;
}
.bc-Pltr {
  border-color: #26a3ff;
}
.bc-Pdk {
  border-color: #00518c;
}
.bc-Pdkr {
  border-color: #003359;
}
.bc-S {
  border-color: #fff200;
}
.bc-Slt {
  border-color: #008bf2;
}
.bc-Sltr {
  border-color: #26a3ff;
}
.bc-Sdk {
  border-color: #00518c;
}
.bc-Sdkr {
  border-color: #003359;
}
.bc-A {
  border-color: #d5d2c5;
}
.bc-Alt {
  border-color: #eae9e3;
}
.bc-Altr {
  border-color: #ffffff;
}
.bc-Adk {
  border-color: #c0bba7;
}
.bc-Adkr {
  border-color: #aaa48a;
}
.bc-A2 {
  border-color: #703158;
}
.bc-A2lt {
  border-color: #934174;
}
.bc-A2ltr {
  border-color: #b4538f;
}
.bc-A2dk {
  border-color: #4d213c;
}
.bc-A2dkr {
  border-color: #291220;
}
.bc-A3 {
  border-color: #b64e00;
}
.bc-A3lt {
  border-color: #e96400;
}
.bc-A3ltr {
  border-color: #ff7e1d;
}
.bc-A3dk {
  border-color: #833800;
}
.bc-A3dkr {
  border-color: #502200;
}
.bc-A4 {
  border-color: #eae9e2;
}
.bc-A4lt {
  border-color: #ffffff;
}
.bc-A4ltr {
  border-color: #ffffff;
}
.bc-A4dk {
  border-color: #d5d3c4;
}
.bc-A4dkr {
  border-color: #bfbca7;
}
.bc-A5 {
  border-color: #008d84;
}
.bc-A5lt {
  border-color: #00c0b4;
}
.bc-A5ltr {
  border-color: #00f3e3;
}
.bc-A5dk {
  border-color: #005a54;
}
.bc-A5dkr {
  border-color: #002725;
}
.bc-A6 {
  border-color: #002c4c;
}
.bc-6lt {
  border-color: #004a7f;
}
.bc-6ltr {
  border-color: #0067b2;
}
.bc-6dk {
  border-color: #000e19;
}
.bc-6dkr {
  border-color: #000000;
}
.bc-B {
  border-color: #333333;
}
.bc-W {
  border-color: #ffffff;
}
.bc-G {
  border-color: #dddddd;
}
.bc-Glt {
  border-color: #f7f7f7;
}
.bc-Gltr {
  border-color: #f7f7f7;
}
.bc-Gdk {
  border-color: #c4c4c4;
}
.bc-Gdkr {
  border-color: #aaaaaa;
}
.br-Y {
  border-radius: 3px;
}
.br-N {
  border-radius: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* width ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ width */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.w-5 {
  width: 5%;
}
.w-10 {
  width: 10%;
}
.w-15{
  width: 15%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30{
  width: 30%;
}
.w-33 {
  width: 33%;
}
.w-35 {
  width: 35%;
}
.w-40 {
  width: 40%;
}
.w-50{
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-66 {
  width: 66%;
}
.w-70 {
  width: 70%;
}
.w-75 {
  width: 75%;
}
.w-80{
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* display ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ display */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.d-B {
  display: block;
}
.d-I {
  display: inline;
}

.d-Ib {
  display: inline-block;
}
.d-N {
  display: none;
}
.d-T {
  display: table;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* clear ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ clear */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.c-L {
  clear: left;
}
.c-R {
  clear: right;
}
.c-B{
  clear: both;
}
  .c-B:before,
  .c-B:after {
    content: " ";
    display: table;
    clear: both;
  }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* float ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ float */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.f-L {
  float: left;
}
.f-R {
  float: right;
}
.f-N {
  float: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* font ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ font */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.f-P {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.f-S {
  font-family: serif;
}
.f-T {
  font-family: sans-serif;
}
.fs-XXS {
  font-size: .5em;
}
.fs-XS {
  font-size: .65em;
}
.fs-S {
  font-size: .8em;
}
.fs-L {
  font-size: 1.2em;
}
.fs-XL {
  font-size: 1.5em;
}
.fs-XXL {
  font-size: 2em;
}
.fc-P {
  color: #006ebf;
}
.fc-S {
  color: #fff200;
}
.fc-A {
  color: #d5d2c5;
}
.fc-A2 {
  color: #703158;
}
.fc-A3 {
  color: #b64e00;
}
.fc-A4 {
  color: #eae9e2;
}
.fc-A5 {
  color: #008d84;
}
.fc-A6 {
  color: #002c4c;
}
.fc-B {
  color: #333333;
}
.fc-W {
  color: #ffffff;
}
.fc-G {
  color: #dddddd;
}
.ta-L {
  text-align: left;
}
.ta-r {
  text-align: right;
}
.ta-C {
  text-align: center;
}
.ta-J {
  text-align: justify;
}
.fw-B {
  font-weight: bold;
}
.fw-N {
  font-weight: normal;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* margin ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ margin */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.m-N,
.m-0 {
  margin: 0;
}
.m-Xs {
  margin: .357em;
}
.m-Sm {
  margin: 15px;
}
.m-Md {
  margin: 30px;
}
.m-Lg {
  margin: 45px;
}
.m-NegXs {
  margin: -0.357em;
}
.m-NegSm {
  margin: -15px;
}
.m-NegMd {
  margin: -30px;
}
.m-NegLg {
  margin: -45px;
}
.mt-N,
.mt-0 {
  margin-top: 0;
}
.mt-Xs {
  margin-top: .357em;
}
.mt-Sm {
  margin-top: 15px;
}
.mt-Md {
  margin-top: 30px;
}
.mt-Lg {
  margin-top: 45px;
}
.mt-NegXs {
  margin-top: -0.357em;
}
.mt-NegSm {
  margin-top: -15px;
}
.mt-NegMd {
  margin-top: -30px;
}
.mt-NegLg {
  margin-top: -45px;
}
.mr-N,
.mr-0 {
  margin-right: 0;
}
.mr-Xs {
  margin-right: .357em;
}
.mr-Sm {
  margin-right: 15px;
}
.mr-Md {
  margin-right: 30px;
}
.mr-Lg {
  margin-right: 45px;
}
.mr-NegXs {
  margin-right: -0.357em;
}
.mr-NegSm {
  margin-right: -15px;
}
.mr-NegMd {
  margin-right: -30px;
}
.mr-NegLg {
  margin-right: -45px;
}
.mb-N,
.mb-0 {
  margin-bottom: 0;
}
.mb-Xs {
  margin-bottom: .357em;
}
.mb-Sm {
  margin-bottom: 15px;
}
.mb-Md {
  margin-bottom: 30px;
}
.mb-Lg {
  margin-bottom: 45px;
}
.mb-NegXs {
  margin-bottom: -0.357em;
}
.mb-NegSm {
  margin-bottom: -15px;
}
.mb-NegMd {
  margin-bottom: -30px;
}
.mb-NegLg {
  margin-bottom: -45px;
}
.ml-N,
.ml-0 {
  margin-left: 0;
}
.ml-Xs {
  margin-left: .357em;
}
.ml-Sm {
  margin-left: 15px;
}
.ml-Md {
  margin-left: 30px;
}
.ml-Lg {
  margin-left: 45px;
}
.ml-NegXs {
  margin-left: -0.357em;
}
.ml-NegSm {
  margin-left: -15px;
}
.ml-NegMd {
  margin-left: -30px;
}
.ml-NegLg {
  margin-left: -45px;
}
.m-C,
.m-A {
  margin-left: auto;
  margin-right: auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* padding ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ padding */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.p-N,
.p-0 {
  padding: 0;
}
.p-Xs {
  padding: .357em;
}
.p-Sm {
  padding: 15px;
}
.p-Md {
  padding: 30px;
}
.p-Lg {
  padding: 45px;
}
.pl-N,
.pl-0 {
  padding-left: 0;
}
.pl-Xs {
  padding-left: .357em;
}
.pl-Sm {
  padding-left: 15px;
}
.pl-Md {
  padding-left: 30px;
}
.pl-Lg {
  padding-left: 45px;
}
.pr-N,
.pr-0 {
  padding-right: 0;
}
.pr-Xs {
  padding-right: .357em;
}
.pr-Sm {
  padding-right: 15px;
}
.pr-Md {
  padding-right: 30px;
}
.pr-Lg {
  padding-right: 45px;
}
.pt-N,
.pt-0 {
  padding-top: 0;
}
.pt-Xs {
  padding-top: .357em;
}
.pt-Sm {
  padding-top: 15px;
}
.pt-Md {
  padding-top: 30px;
}
.pt-Lg {
  padding-top: 45px;
}
.pb-N,
.pb-0 {
  padding-bottom: 0;
}
.pb-Xs {
  padding-bottom: .357em;
}
.pb-Sm {
  padding-bottom: 15px;
}
.pb-Md {
  padding-bottom: 30px;
}
.pb-Lg {
  padding-bottom: 45px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* position ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ position */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.p-A {
  position: absolute;
}
.p-F {
  position: fixed;
}
.p-S {
  position: static;
}
.p-R {
  position: relative;
}
.l-0 {
  left: 0;
}
.l-25 {
  left: 25%;
}
.l-50 {
  left: 50%;
}
.l-75 {
  left: 75%;
}
.l-100 {
  left: 100%;
}
.l-Neg25 {
  left: -25%;
}
.l-Neg50 {
  left: -50%;
}
.l-Neg75 {
  left: -75%;
}
.l-Neg100 {
  left: -100%;
}
.r-0 {
  right: 0;
}
.r-25 {
  right: 25%;
}
.r-50 {
  right: 50%;
}
.r-75 {
  right: 75%;
}
.r-100 {
  right: 100%;
}
.r-Neg25 {
  right: -25%;
}
.r-Neg50 {
  right: -50%;
}
.r-Neg75 {
  right: -75%;
}
.r-Neg100 {
  right: -100%;
}
.t-0 {
  top: 0;
}
.t-25 {
  top: 25%;
}
.t-50 {
  top: 50%;
}
.t-75 {
  top: 75%;
}
.t-100 {
  top: 100%;
}
.t-Neg25 {
  top: -25%;
}
.t-Neg50 {
  top: -50%;
}
.t-Neg75 {
  top: -75%;
}
.t-Neg100 {
  top: -100%;
}
.b-0 {
  bottom: 0;
}
.b-25 {
  bottom: 25%;
}
.b-50 {
  bottom: 50%;
}
.b-75 {
  bottom: 75%;
}
.b-100 {
  bottom: 100%;
}
.b-Neg25 {
  bottom: -25%;
}
.b-Neg50 {
  bottom: -50%;
}
.b-Neg75 {
  bottom: -75%;
}
.b-Neg100 {
  bottom: -100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* list-style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ list-style */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.ls-C {
  list-style: circle;
}
.ls-D {
  list-style: disc;
}
.ls-N {
  list-style: none;
}
.ls-Dec {
  list-style: decimal;
}
.ls-S {
  list-style: square;
}
.ls-La {
  list-style: lower-alpha;
}
.ls-Lr {
  list-style: lower-roman;
}
.ls-Ua {
  list-style: upper-alpha;
}
.ls-Ur {
  list-style: upper-roman;
}