section#About.about
	.container
		.row.col-xs-12.text-center
			h2 About
			p.lead
				| Founded in 2015, Bagus is a small technology company that develops innovative websites and apps to enhance the way people experience the world. Our current product offering focuses on giving travelers a tool to build custom trips.