section#Story.callout
		h2.story-header Our Story

		.container.story-container
			.row
				.col-sm-6.col-xs-12
					p
						| You could say our story started with three friends and one idea to modernize the travel 
						| industry. But that version fails to capture the real beginning, and with it, where we hope our 
						| story takes us. So let's start with the real beginning because our story is just getting started. 
					p
						| It's the spring of 2014 and somewhere on a dried patch of Earth in between two ancient 
						| civilizations an idea is forming. 7 days on the road, armed with a combination of guidebooks 
						| and online information, I'm getting increasingly frustrated. My sister and I are on a tight 
						| timeline, a tight budget and a full list of things we want to do and the information guiding our 
						| decisions isn't good enough. To add to the frustration this isn't the first time I've encountered 
						| this issue. It was a common problem for Alan and me on our previous treks across four 
						| continents. 
					p
						| The thought that keeps going through my mind is, "I can't believe someone hasn't thought of a 
						| better way to do this." At some point, on one of the long bus rides, it occurs to me that it's time 
						| for someone to think of the better way. I run an initial concept by my sister who offers a very 
						| encouraging, "You should do that" for a reply.
					p
						| Fast forward a few more weeks and considerable more consideration to the idea. Not really 
						| sure where to go with the idea I decide I need some help. Besides being my best friend and go-
						| to travel companion Alan is working in the Chicago startup scene. A text is sent. The reply, "I'
						| ve been thinking the same thing." 

				.col-sm-6.col-xs-12
					p
						| We start sketching out some ideas. A move to Chicago puts us in the same city and working 
						| over together over weekends we start to translate the concept into something tangible. We have 
						| a design, while rough we think it's the start of something. We just aren't sure where to take 
						| that something. 
					p
						| It's now the summer of 2015 and we realize we need some help. Over the 4th of July we decide 
						| to share our revolutionary idea my cousin Joe to get some technical advice. We introduce the 
						| idea at a high-level and from that Joe begins to run with the idea in the same direction we want 
						| to take it. 
					p
						| It's obvious that we've not only found someone that's drinking our same brand of Cool-Aid 
						| but also someone that's a good compliment to our team. We bring Joe on board and working 
						| together the seed of an idea begins to grow into the structure of a company. It's clear that all 
						| three of us are thinking bigger than a single app.
					p
						| That's where the idea started. It grew into something more by hard work, and most 
						| importantly, 3 people with a common vision for using innovation to bring the world together. 
						| And in the winter of 2015 we formed Bagus Co. to make that vision a reality. 
					p
						span.fa.fa-bullet.text-lg &bullet;&nbsp;
						| Sincerely your friend on the road, Peter