section#Values.values.bg-primary
	.container
		.row.text-center
			.col-sm-10.col-sm-offset-1.col-xs-12
				h2 Our Values
				hr.small
				.row
					.col-md-3.col-sm-6.col-xs-12
						.service-item
							span.fa-stack.fa-4x
								i.fa.fa-circle.fa-stack-2x
								i.fa.fa-compass.fa-stack-1x.text-primary
							h4
								strong Compass
							p Our principles guide our decisions

					.col-md-3.col-sm-6.col-xs-12
						.service-item
							span.fa-stack.fa-4x
								i.fa.fa-circle.fa-stack-2x
								i.fa.fa-cog.fa-stack-1x.text-primary
							h4
								strong Opportunity
							p We see our work as a way to open doors and provide new opportunities to reach more people

					.col-md-3.col-sm-6.col-xs-12
						.service-item
							span.fa-stack.fa-4x
								i.fa.fa-circle.fa-stack-2x
								i.fa.fa-globe.fa-stack-1x.text-primary
							h4
								strong Immerse
							p We are a global technology company that believes changing the world starts by immersing ourselves in our community.

					.col-md-3.col-sm-6.col-xs-12
						.service-item
							span.fa-stack.fa-4x
								i.fa.fa-circle.fa-stack-2x
								i.fa.fa-users.fa-stack-1x.text-primary
							h4
								strong Relationship
							p Our business is personal because it’s all about the people we serve.


			//dl
				dt.value-title Positive Sum
				dd.value-description We operate to make sure everyone profits from doing business with us. (Our profit isn’t just about our gain).

				dt.value-title 
				dd.value-description 

				dt.value-title Journey
				dd.value-description We are committed to helping people get to where they want to go in the world. 

				dt.value-title Enhance
				dd.value-description We use technology to enhance our customer’s real world experiences.