extends layout

block content
	.hero(data-background='{"url": "/images/hero1.jpg", "repeat": "no-repeat", "position": "center",  "size": "cover"}')
		.hero-content(data-slide='true')
			h1.ta-C
				| bagus tech
				small
					| letting you experience your world your way
	.hero(data-background='{"url": "/images/hero2.jpg", "repeat": "no-repeat", "position": "center",  "size": "cover"}')
		.hero-content(data-slide='true')
			.col-sm-4.col-xs-12
				section.profile
					img.profile-img(src='/images/profile/joe.jpg', alt='Joe Lissner')
					h2 Joe Lissner
					p
						| Joe is CTO and a founding member of Bagus Co. Joe has over three years of experience working directly with clients to build their websites. Joe has worked with a wide array of clients ranging from non-profits, to small businesses and national franchises. Joe has experience styling and designing websites, mentoring new hires, training clients and managers, and building client relationships.
					p
						| Joe is experienced in HTML, CSS, LESS, SASS, Javascript, C#, ASP.NET, SQL, and DynamoDB. Using those languages, Joe is familiar with jQuery, Bootstrap, DotNetNuke, NodeJs, ExpressJs, KnockoutJs, MVC, MVP, and AWS. Joe is also passionate about traveling and has lived in China for a year and a half. 
					p
						| Joe is a Microsoft Certified Web Developer (MCPS, MCSD).
			.col-sm-4.col-xs-12
				section.profile
					img.profile-img(src='/images/profile/peter.jpg', alt='Peter Lamming')
					h2 Peter Lamming
					p
						| Peter is CEO and a founding member of Bagus Co. Peter has five years of experience successfully managing projects through the project lifecycle. In over four years with Accenture Peter has worked on a variety of projects ranging from statistical sampling, performing in-depth organizational analysis, and specializing as an SAP consultant. Peter has experience leading large scale design efforts, managing offshore teams and developing client and partner system relationships.
					p
						| Peter has work experience in several industries including auditing, financial institutions, telecommunications, both state and federal governments, and working with the Department of Defense. In addition to Peter’s work experience he also has significant international experience having studied in three countries, having worked in two countries, and having traveled across over 35 countries in 6 continents. 
					p
						| Peter graduated from Queen’s University in Kingston, Ontario with Bachelor of Arts (Honors) in English Literature. 
			.col-sm-4.col-xs-12
				section.profile
					img.profile-img(src='/images/profile/alan.jpg', alt='Alan Furth')
					h2 Alan Furth
					p
						| Alan is COO and founding member of Bagus Co. Alan has experience in startup, travel, and nonprofit industries doing product management, customer development, and technical marketing. He has experience building and leading custom international trips, working as an editor for a Shanghai city guide, creating email marketing campaigns, and managing software product development.

					p
						| Alan grew up overseas, has lived in five countries and traveled to over 35 countries on six continents. He graduated from Colorado State University with a Bachelor of Arts in History. Star Wars trivia and fantasy hockey champion.