extends layout

block content
	.pb-Md.pt-Md(data-background='{"url": "/images/hero2.jpg", "repeat": "repeat", "position": "top"}')
		.container.profile.ta-L
			h1 Submitted Reviews

			table.table
				thead
					tr
						th Country
						th Throughts
						th Update
						th Delete
				tbody#SubmittedResults